In [1]:
from selenium import webdriver
browser = webdriver.Chrome()
browser.get('https://scraping-for-beginner.herokuapp.com/ranking/')

### １つの観光地の情報を取得

観光地名の取得

In [2]:
elem_rankingBox = browser.find_element_by_class_name('u_areaListRankingBox')

In [3]:
elem_title = elem_rankingBox.find_element_by_class_name('u_title').find_element_by_tag_name('h2')
elem_title.text

'1\n観光地 1'

In [4]:
title = elem_title.text
title

'1\n観光地 1'

In [5]:
title.split('\n')[1]

'観光地 1'

In [6]:
elem = browser.find_element_by_class_name('u_rankBox')
elem = elem.find_element_by_class_name('evaluateNumber')

In [7]:
elem.text

'4.7'

### 各項目の評価を取得

#### 楽しさ

In [8]:
elem = browser.find_element_by_class_name('u_categoryTipsItem')

In [9]:
elem = elem.find_elements_by_class_name('is_rank')[0]

In [10]:
elem = elem.find_element_by_class_name('evaluateNumber')

In [11]:
elem.text

'4.6'

#### 人混みの多さ

In [12]:
elem = browser.find_element_by_class_name('u_categoryTipsItem')
elem = elem.find_elements_by_class_name('is_rank')[1]
elem = elem.find_element_by_class_name('evaluateNumber')

In [13]:
elem.text

'4.5'

#### 景色

In [14]:
elem = browser.find_element_by_class_name('u_categoryTipsItem')
elem = elem.find_elements_by_class_name('is_rank')[2]
elem = elem.find_element_by_class_name('evaluateNumber')

In [15]:
elem.text

'4.9'

#### アクセス

In [16]:
elem = browser.find_element_by_class_name('u_categoryTipsItem')
elem = elem.find_elements_by_class_name('is_rank')[3]
elem = elem.find_element_by_class_name('evaluateNumber')

In [17]:
elem.text

'4.2'

### 全ての観光地情報を取得

#### 観光地名

In [18]:
elem_rankingBox = browser.find_element_by_class_name('u_areaListRankingBox')
elem_title = elem_rankingBox.find_element_by_class_name('u_title').find_element_by_tag_name('h2')
elem_title.text

'1\n観光地 1'

In [19]:
elems_rankingBox = browser.find_elements_by_class_name('u_areaListRankingBox')

In [20]:
len(elems_rankingBox)

10

In [21]:
elem_rankingBox = elems_rankingBox[1]
elem_title = elem_rankingBox.find_element_by_class_name('u_title')
title = elem_title.text.split('\n')[1]
title

'観光地 2'

In [22]:
elems_rankingBox = browser.find_elements_by_class_name('u_areaListRankingBox')

#全ての観光地名を格納するリストを用意
titles = []

for elem_rankingBox in elems_rankingBox:
    elem_title = elem_rankingBox.find_element_by_class_name('u_title')
    title = elem_title.text.split('\n')[1]
    titles.append(title)

In [23]:
titles

['観光地 1',
 '観光地 2',
 '観光地 3',
 '観光地 4',
 '観光地 5',
 '観光地 6',
 '観光地 7',
 '観光地 8',
 '観光地 9',
 '観光地 10']

In [24]:
elems_rank = browser.find_elements_by_class_name('u_rankBox')
len(elems_rank)

10

In [25]:
elems_rank[3].find_element_by_class_name('evaluateNumber').text

'4.5'

In [26]:
elems_rank = browser.find_elements_by_class_name('u_rankBox')

ranks = []

for elem_rank in elems_rank:
    elme_rank = elem_rank.find_element_by_class_name('evaluateNumber')
    rank = float(elem_rank.text)
    ranks.append(rank)

In [27]:
ranks

[4.7, 4.7, 4.6, 4.5, 4.5, 4.4, 4.3, 4.3, 4.2, 4.1]

### 各項目

In [28]:
elems = browser.find_elements_by_class_name('u_categoryTipsItem')

In [29]:
len(elems)

10

In [30]:
elem = elems[1]
elems_rank = elem.find_elements_by_class_name('is_rank')

In [31]:
len(elems_rank)

4

In [32]:
elem = elems[3]
elems_rank = elem.find_elements_by_class_name('is_rank')

In [33]:
_ranks = []
for elem_rank in elems_rank:
    rank = elem_rank.find_element_by_class_name('evaluateNumber').text
    _ranks.append(rank)

In [34]:
_ranks

['4.4', '4.4', '4.8', '4.0']

### まとめて取得

In [35]:
categories = []

for elem in elems:
    elems_rank = elem.find_elements_by_class_name('is_rank')
    _ranks = []
    for elem_rank in elems_rank:
        rank = elem_rank.find_element_by_class_name('evaluateNumber').text
        _ranks.append(float(rank))
    categories.append(_ranks)

In [36]:
categories

[[4.6, 4.5, 4.9, 4.2],
 [4.6, 4.5, 4.9, 4.2],
 [4.5, 4.4, 4.8, 4.1],
 [4.4, 4.4, 4.8, 4.0],
 [4.4, 4.3, 4.7, 4.0],
 [4.3, 4.3, 4.7, 3.9],
 [4.2, 4.2, 4.6, 3.8],
 [4.2, 4.2, 4.6, 3.8],
 [4.1, 4.1, 4.5, 3.7],
 [4.0, 4.1, 4.4, 3.6]]

### Pandasの形式に変更

In [37]:
import pandas as pd

In [38]:
df = pd.DataFrame()

In [39]:
df['観光地名'] = titles
df['総合評価'] = ranks

In [40]:
df

     観光地名  総合評価
0   観光地 1   4.7
1   観光地 2   4.7
2   観光地 3   4.6
3   観光地 4   4.5
4   観光地 5   4.5
5   観光地 6   4.4
6   観光地 7   4.3
7   観光地 8   4.3
8   観光地 9   4.2
9  観光地 10   4.1

In [41]:
df_categories = pd.DataFrame(categories)
df_categories.columns = ['楽しさ', '人混みの多さ', '景色', 'アクセス']
df_categories

   楽しさ  人混みの多さ   景色  アクセス
0  4.6     4.5  4.9   4.2
1  4.6     4.5  4.9   4.2
2  4.5     4.4  4.8   4.1
3  4.4     4.4  4.8   4.0
4  4.4     4.3  4.7   4.0
5  4.3     4.3  4.7   3.9
6  4.2     4.2  4.6   3.8
7  4.2     4.2  4.6   3.8
8  4.1     4.1  4.5   3.7
9  4.0     4.1  4.4   3.6

In [42]:
df = pd.concat([df, df_categories], axis=1)

In [43]:
df.to_csv('観光地情報.csv', index=False)